{block content}
<div class="container">
    <div class="row">
        <div class="col-md-5 hidden-xs">
        </div>
        <div class="col-md-6 col-xs-12">
            <nav class="nav nav-pills aligned">
                <p class="navbar-text navbar-left">Interested in the position</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle border pos-select" data-toggle="dropdown" aria-expanded="false">
                        HTML Kodér se znalostí PHP ({count($interestsAll)}) <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">1</a></li>
                    </ul>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-compressed" aria-hidden="true"></span>
                    </button>
                </div>
            </nav>
        </div>
        <div class="col-md-1 hidden-xs">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Progress<a><span class="glyphicon glyphicon-cog right-align" aria-hidden="true"></a></div>
                <ul class="list-group bg-blue" n:snippet="categories">
                    <li class="list-group-item">
                        <a n:href="Candidates: null" class="{if !$id_category}active{/if}">
                            All candidates
                        </a> <span class="badge">{count($interestsAll)}</span>
                    </li>
                    <li class="list-group-item" n:foreach="$categories as $category">
                        {if $id_category}
                            {var $cat=$categories->get($id_category)}
                            {var $ident_category=$cat->ident}
                        {else}
                            {var $ident_category=""}
                        {/if}
                        <a n:href="Candidates:default $category->id_category" class="{if $ident_category==$category->ident}active{/if} {$category->ident}">
                            {$category->name}
                        </a> <span class="badge">{count($category->related("interest.id_category"))}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav navbar-left padding">
                            <li>
                                {*<button type="button" class="btn btn-link">
                                    <span class="glyphicon glyphicon-minus" aria-hidden="true">
                                </button>*}
                                <input type="checkbox" id="check-all"/>
                            </li>
                            <li>
                                <button class="btn btn-success" id="collective-response" type="button">
                                    Collective response <span class="badge selected-count">2</span>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Move <span class="badge selected-count"></span><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li n:foreach="$categories as $category">
                                        <a id="colMove-{$category->id_category}" class="colMove">
                                            {$category->name}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right padding">
                            <li>
                                <span>
                                    1 - 10 / 28
                                </span>
                            </li>
                            <li>
                                <button type="button" class="btn btn-link bg-blue">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                                </button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-link bg-blue">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                {*<div class="panel-body">
                    <p>...</p>
                </div>*}
                <div id="buttonContainer" class="invisible"></div>
                <div id="dialog-col" class="dialog" title="Contact candidate">
                    {control contactForm}
                </div>
                <table class="table candidates">
                    <tbody n:snippet="interests">
                        <tr n:foreach="$interests as $interest" {*n:snippet="interest-{$interest->id_interest}"*} id="interest-{$interest->id_interest}">
                            {var $candidate=$interest->ref("candidate","id_candidate")}
                            {var $person=$candidate->ref("person","id_person")}
                            {var $category=$interest->ref('category','id_category')}
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="check-{$interest->id_interest}" class="interest-check"/>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <img src="{$person->img_url}" width="36px" height="36px" class="img-circle profile-pic">
                            </td>
                            <td>
                                <p>
                                    {var $rated = $candidates->alreadyRated($candidate->id_candidate, $sender)}
                                    <span class="candidate_name">{$person->f_name} {$person->l_name}</span>
                                    {var $rating=round(($candidate->related("rating.id_candidate")->aggregation("AVG(stars)")))}
                                    <span class="rate {if $rated}rated{/if}" id="rate-{$candidate->id_candidate}">
                                        {for $i = 1; $i <= 5; $i++}
                                            <a {if !$rated}href="{link rate! $candidate->id_candidate, $i}"{/if}
                                                           class="ajax rate rate-{$i}" 
                                                           id="rate-{$candidate->id_candidate}-{$i}">
                                                {if $rating>=$i}
                                                    <span class="glyphicon glyphicon-star star not-empty-before" aria-hidden="true" 
                                                          id="star-{$candidate->id_candidate}-{$i}"></span>
                                                {else}
                                                    <span class="glyphicon glyphicon-star-empty star" aria-hidden="true" 
                                                          id="star-{$candidate->id_candidate}-{$i}"></span>
                                                {/if}
                                            </a>
                                        {/for}
                                    </span>
                                </p>
                                <p class="small">
                                    <span class="submit-date">Submitted {$interest->submit_date|date:'j. n. Y'}</span> | 
                                    <span class="status {$category->ident}">{$category->name}</span>
                                </p>
                            </td>
                            <td class="right-align">
                                <div class="btn-group padding" role="group">
                                    <button type="button" class="btn btn-link bg-blue hover-only">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-default dropdown-toggle bg-blue hover-only" data-toggle="dropdown" aria-expanded="false">
                                        {$category->name} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu move-interest" role="menu">
                                        <li n:foreach="$categories as $category">
                                            <a n:href="move! $interest->id_interest, $category->id_category" 
                                               class="ajax interest-{$interest->id_interest} category-{$category->id_category}">
                                                {$category->name}
                                            </a>
                                        </li>
                                    </ul>
                                    <button type="button" class="btn btn-link bg-blue contact-interest" id="contact-interest-{$interest->id_interest}" title="{$person->email}">
                                        {if $interest->contacted!=""}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Contacted
                                        {else}
                                            Contact
                                        {/if}
                                    </button>
                                    <div id="dialog-{$interest->id_interest}" class="dialog" title="Contact candidate">
                                        {control contactForm}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="disabled">
                            <span>
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                        </li>
                        <li class="active">
                            <span>1 <span class="sr-only">(current)</span></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>