{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
*}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{ifset #title}{include title|striptags} | {/ifset}Startup Jobs</title>

        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link href="{$basePath}/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{$basePath}/jquery-ui/jquery-ui.min.css">
        <link href="{$basePath}/css/custom.css" rel="stylesheet">
        {block head}{/block}
    </head>

    <body>
        <script> document.documentElement.className += ' js'</script>
        {*<header class="page-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a id="sj-logo" title="StartupJobs.cz Homepage" class="vcenter-child" href="/">
                            <img src="{$basePath}/images/logo1.png" width="241px" height="33px" alt="Be a shark, work for a startup!">
                        </a>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">StartupJobs.com <span class="caret"></span></a>StartupJobs.com</a>

                                </li>
                                <li><img src="https://media.licdn.com/mpr/mprx/0_RSNOt_VWOcHiw19ARW93t3VkY1gmWK9AMu8TthWzT9Wxnq3lBwk-p8jRKgjKoBcjVmnhgbchqCSA" width="36px" height="36px">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">John Smith <span class="caret"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

        </header>*}
        <header role="banner">
            <div class="container">
                <div class="page-header">
                    <div class="header">
                        <nav class="navbar">
                            <a class="navbar-brand" href="#">
                                <img src="{$basePath}/images/logo1.png" width="241px" height="33px" alt="Be a shark, work for a startup!">
                            </a>
                            <ul class="nav nav-pills pull-right size-plus">
                                <li role="presentation">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                        StartupJobs.com <span class="caret"></span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <img src="https://media.licdn.com/mpr/mprx/0_RSNOt_VWOcHiw19ARW93t3VkY1gmWK9AMu8TthWzT9Wxnq3lBwk-p8jRKgjKoBcjVmnhgbchqCSA" width="36px" height="36px" class="img-circle profile-pic">
                                    <a href="#" class="dropdown-toggle inline" data-toggle="dropdown" role="button" aria-expanded="false">
                                        Jack Brown <span class="caret"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class="container">
                    <h1>Administration <small>StartupJobs.com</small></h1>
                </div>
            </div>
            <div class="container bg-plus">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <nav class="navbar">
                        <ul class="nav navbar-nav nav-tabs pull-left nav2">
                            <li><a href="#" class="green">Add offer</a></li>
                            <li><a href="#">Offer <span class="badge">2</span></a></li>
                            <li class="active"><a href="#">Candidates <span class="badge">{count($interestsAll)}</span></a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Finance</a></li>
                        </ul>
                        <ul class="nav navbar-nav nav-tabs pull-right nav2">
                            <li><a href="#">Fast contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <main class="size-plus">
        <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
        {include content}
    </main>
    <nav class="navbar navbar-inverse nav-bottom{*navbar-fixed-bottom*}">
        <div class="container">
            <p class="navbar-text navbar-left">© 2012 - 2015 Startupedia s.r.o</p>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Blog</a></li>
                <li><a href="">Offers</a></li> 
                <li><a href="">Startups</a></li> 
                <li><a href="">About StartupJobs</a></li>
                <li><a href="">VOP</a></li> 
                <li><a href="">For media</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </nav>
    {block scripts}
    <script src="{$basePath}/js/jquery.js"></script>
    <script src="{$basePath}/js/bootstrap.min.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/spinner.ajax.js"></script>
    <script src="{$basePath}/jquery-ui/jquery-ui.min.js"></script>
                <!--[if IE]>
                <script src="{$basePath}/js/html5.js"></script>
                <script src="{$basePath}/js/respond.min.js"></script>
                <![endif]-->
    <script src="{$basePath}/js/main.js"></script>
    {/block}
</body>
</html>
