body{
    font-family: 'Source Sans Pro', sans-serif;
}

*[title]:hover:after {
    content: attr(title);
    position: absolute;
    border: 2px solid rgb(184, 184, 219);
    display: inline-block;
    border-radius: 0.5em;
    background: white;
    padding: 0.5em;
    margin-left: 2em;
    z-index: 2;
}
.page-header {
    border: none;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #f0f6f9;
}
.size-plus{
    font-size: 1.2em;
}
img.img-circle.profile-pic {
    display: inline-block;
    position: relative;
}
a.dropdown-toggle.inline {
    display: inline-block;
}
a.green, a.accepted, span.status.new{
    color: rgb(44, 203, 0);
}
a.rejected, span.status.rejected {
    color: rgb(189, 3, 3);
}
a.active {
    color: rgb(58, 165, 255);
    background-color: rgb(240, 240, 240);
}
.jumbotron{
    background-color: #f0f6f9;
    padding-top: 1.2em;
    padding-bottom: 6em;
}
.jumbotron h1 {
    font-size: 2.8em;
}
div.bg-plus{
    margin-top: -6em;
}
ul.nav2{
    border-bottom: none;
}
.panel {
    border: none;
}
button.btn {
    border: none;
}
td.right-align {
    text-align: right;
}
nav.navbar.navbar-default {
    background: none;
    border: none;
}
nav.nav-bottom {
    margin-bottom: 0;
    border-radius: 0;
}
nav.aligned button {
    margin: 15px;
    padding: 0;
}
ul.padding>li {
    margin-right: 0.6em;
}
span.badge {
    /*background: none;
    color: black;
    font-size: 1.2em;
    border-left: 2px solid;
    border-right: 2px solid;*/
} 
span.star {
    color: #FC0;
}
span.star.hovered {
    color: #CA0;
}
.rated span.star, .rated span.hovered{
    color: grey;
}
span.glyphicon.glyphicon-cog.right-align {
    float: right;
}
.panel-heading {
    background-color: transparent!important;
}
button.pos-select {
    font-size: 1.0em;
}
.bg-blue{
    background-color: #f0f6f9;
}
.btn-group.padding button{
    margin-right: 0.6em;
}
table.candidates tr{
    cursor: pointer;
}
table.candidates tr button.hover-only, table.candidates tr .dropdown-menu{
    opacity: 0;
}
table.candidates tr:hover button.hover-only, table.candidates tr:hover .dropdown-menu{
    opacity: 1;
    transition: opacity .2s ease-in-out; 
}
.dialog{
    display: none;
}
.dialog.ui-dialog-content.ui-widget-content {
    width: auto;
    overflow: hidden;
}
#ajax-spinner {
    position: fixed;
    left: 50%;
    top: 50%;
    display: block;
    /* width: 5em; */
}
.rate {
    display: inline;
    position: relative;
}
.colMove{
    cursor: pointer;
}